*{
    margin: 0;
    padding: 0;
}

body{
   background-color: black;
   color: white;
   font-size: 1.1rem;
}

/* this changes nav bar */
.nav{
    background-color: #751212;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-right: 1.5rem;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* hover effect */
a:hover{
    color: yellow;
}

/* landing page*/
.landing-page{
    max-width: 1300px;
    margin:  auto;
    margin-bottom: 2rem;

}
.intro{
    font-size: 3rem;
    font-weight: bold;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.intro-image{
    width: 20rem;
    height: 25rem;
    margin-top: 2rem;
}
.landing-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    
}
.left{
    border-right : rgba(207, 12, 12, 0.849) 5px solid;
    margin: auto 2rem;
}
.right{
align-items: center;
}
.about-me{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: yellow;
}
.quote{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
/* sociam media */
.social-media{
    font-size: 3rem;
    text-align: center;
}
/* contact form */
.title{
    text-align: center;
}
.contact-form{
    max-width: 500px;
    margin: 2rem auto;
    box-shadow: 0 0 5px white;
    padding: 1rem;
    /* text-align: center; */
}
input, textarea{
    padding: 0.8rem;
    border-radius: 5px;
    width: 95%;
    margin: 1rem  0 1rem 0 ;
    font-size: 1rem;
}
.submit{
    font-size: 2rem;
    padding: .7rem 2.4rem;
    background: yellow;
    border: none;
    border-radius: 5px ;
  
}
/* about poage */
.about-para{
    font-size: 1.6rem;
}
/* experience page */
.experience{
    list-style: circle;
}
.experience li{
    margin-bottom: 1rem;
}
/* BLOG*/

.post-container{
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    grid-gap: 1rem;
 
}
img{
    width: 100%;
}
.card{
    border: 1px solid yellow;
    padding: 1rem;
    border-radius: .4rem;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: .5rem;
    background-color:#751212;
}
.time{
    margin-top: 1rem;
    font-size: .8rem;
    text-align: center;
}
.post-title{
    font-size: 1.4rem;

}
.footer{
    background-color:rgb(133, 34, 34);
    text-align: center;
    padding: 1rem;

}
.copy-right{
    color: yellow;
}
.about-page{
    margin-top: 2rem;
}


/* Login form */
.logout{
    cursor: pointer;
}
.login-form{
    background-color: black;
    border: 1px solid yellow;
    border-radius: 5px;
    max-width: 500px;
    margin: 10rem auto;
    padding: 1rem;
    
    
}
.top{
    display:flex;
    justify-content: space-between;

}
.buttom{
    display:flex;
    justify-content: space-between;
    
}
.message{
    margin: 1rem 0;
}
.querie{
    border: 1px solid yellow;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem 0 ;
}
.queries-container{
    max-width: 600px;
    margin: auto;
}